[submodule "ansible/roles/monitoring-agent/files/collectd-plugins/marathon"]
	path = ansible/roles/monitoring-agent/files/collectd-plugins/marathon
	url = git@github.com:vmahedia/collectd-marathon.git
[submodule "ansible/roles/monitoring-agent/files/collectd-plugins/chronos"]
	path = ansible/roles/monitoring-agent/files/collectd-plugins/chronos
	url = git@github.com:vmahedia/collectd-chronos.git
[submodule "ansible/roles/monitoring-agent/files/collectd-plugins/docker"]
	path = ansible/roles/monitoring-agent/files/collectd-plugins/docker
	url = git@github.com:seomoz/docker-collectd-plugin.git
[submodule "ansible/roles/monitoring-agent/files/collectd-plugins/collectd-haproxy"]
	path = ansible/roles/monitoring-agent/files/collectd-plugins/collectd-haproxy
	url = https://github.com/seomoz/collectd-haproxy.git
[submodule "ansible/roles/monitoring-agent/files/collectd-plugins/marathon_tasks"]
	path = ansible/roles/monitoring-agent/files/collectd-plugins/marathon_tasks
	url = git@github.com:seomoz/collectd-marathon-tasks.git
