description     "Telegraf"

limit nofile 65536 65536

start on (net-device-up and local-filesystems and runlevel [2345])
stop on runlevel [!2345]

respawn
respawn limit 10 5

console none
setuid telegraf
setgid telegraf

exec /usr/bin/telegraf -pidfile /var/run/telegraf/telegraf.pid -config /etc/telegraf/telegraf.conf -configdirectory /etc/telegraf/telegraf.d
