influx -database "metrics_db" -execute "create user {{ influx_admin_user }} with password '{{ influx_admin_password }}' with all privileges"

influx -database "metrics_db" -username {{ influx_admin_user }} -password {{ influx_admin_password }} -execute "create user {{ alertd_influx_user }} with password '{{ alertd_influx_pass }}'"
influx -database "metrics_db" -username {{ influx_admin_user }} -password {{ influx_admin_password }} -execute "grant read on metrics_db to {{ alertd_influx_user }}"
influx -database "collectd_db" -username {{ influx_admin_user }} -password {{ influx_admin_password }} -execute "grant read on collectd_db to {{ alertd_influx_user }}"  
influx -database "metrics_db" -username {{ influx_admin_user }} -password {{ influx_admin_password }} -execute "create user {{ statsd_influxdb_user }} with password '{{ statsd_influxdb_passwd }}'"
influx -database "metrics_db" -username {{ influx_admin_user }} -password {{ influx_admin_password }} -execute "grant all on metrics_db to {{ statsd_influxdb_user }}" 
