{% for database in databases %}
  influx -database "{{ database }}" -username "{{ influx_admin_user }}" -password "{{ influx_admin_password }}" -execute "alter retention policy default on {{ database }} duration 14d"

  influx -database "{{ database }}" -username "{{ influx_admin_user }}" -password "{{ influx_admin_password }}" -execute "drop retention policy _1month on {{ database }}"
  influx -database "{{ database }}" -username "{{ influx_admin_user }}" -password "{{ influx_admin_password }}" -execute "drop retention policy _3month on {{ database }}"

  influx -database "{{ database }}" -username "{{ influx_admin_user }}" -password "{{ influx_admin_password }}" -execute "create retention policy _1month on {{ database }} duration  30d replication 1"
  influx -database "{{ database }}" -username "{{ influx_admin_user }}" -password "{{ influx_admin_password }}" -execute "create retention policy _3month on {{ database }} duration  90d replication 1"

  influx -database "{{ database }}" -username "{{ influx_admin_user }}" -password "{{ influx_admin_password }}" -execute "drop continuous query downsample_1month on {{ database }}"
  influx -database "{{ database }}" -username "{{ influx_admin_user }}" -password "{{ influx_admin_password }}" -execute "drop continuous query downsample_3month on {{ database }}"

{% endfor %}

influx -database collectd_db -username "{{ influx_admin_user }}" -password "{{ influx_admin_password }}" -execute "CREATE CONTINUOUS QUERY downsample_1month on collectd_db begin SELECT last(value) as last, mean(value) as value into  _1month.:MEASUREMENT from  /.*/ group by time(1m), * END"
influx -database collectd_db -username "{{ influx_admin_user }}" -password "{{ influx_admin_password }}" -execute "CREATE CONTINUOUS QUERY downsample_3month on collectd_db begin SELECT last(last)  as last, mean(value)  as value into _3month.:MEASUREMENT from  _1month./.*/ group by time(10m), * END"
